# The "Backpack" - Sensitive login data
bangi/

# The "Toolbox" - This folder is huge and can be re-downloaded
node_modules/

package-lock.json

# Editor temporary files (for your Neovim/Vim)
*.swp
*.swo

.env


# System files
.DS_Store
Thumbs.db
